<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microstone.app.mapper.CarouselMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="CarouselResultMap" type="com.microstone.app.entity.Carousel">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="tenant_id" property="isDeleted"/>
        <result column="status" property="status"/>
        <result column="carousel_image" property="carouselImage"/>
        <result column="link_type" property="linkType"/>
        <result column="label_type" property="labelType"/>
        <result column="label_content" property="labelContent"/>
        <result column="relation_id" property="relationId"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <select id="getCarousel" resultType="com.microstone.app.vo.CarouselVO">
        select id,update_time,update_user,carousel_image,link_type,label_type,label_content,relation_id,sort from app_carousel where is_deleted = 0 order by sort
    </select>
</mapper>
