<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microstone.app.mapper.UserEducationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userEducationResultMap" type="com.microstone.app.entity.UserEducation">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="user_id" property="userId"/>
        <result column="school" property="school"/>
        <result column="major" property="major"/>
        <result column="education_type" property="educationType"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
    </resultMap>


    <select id="selectUserEducationPage" resultMap="userEducationResultMap">
        select * from app_user_education where is_deleted = 0
    </select>

</mapper>
