<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microstone.app.mapper.WechatOfficialAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="videoPoolResultMap" type="com.microstone.app.entity.WechatOfficialAccount">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="name" property="name"/>
        <result column="appid" property="appid"/>
        <result column="secret" property="secret"/>
        <result column="has_enable" property="hasEnable"/>
        <result column="path" property="path"/>
        <result column="token_path" property="tokenPath"/>
    </resultMap>

    <select id="getWechatOfficialAccount" resultType="com.microstone.app.vo.WechatOfficialAccountVO">
        select * from app_wechat_official_account where is_deleted = 0
    </select>
</mapper>
